In [41]:
import pandas as pd
import locale

In [29]:
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

'en_US.UTF-8'

In [2]:
df = pd.read_csv('budget_data.csv')

In [4]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [6]:
df['change'] = df['Profit/Losses'].diff()

In [39]:
df['Date'] = pd.to_datetime(df['Date'])

In [40]:
print('Financial Analysis \n----------------------------')
print(f"Total Months: {len(df['Date'].dt.to_period('M').unique())}")
print(f"Total: {locale.currency(df['Profit/Losses'].sum(), grouping=True)}")
print(f"Average Change: {locale.currency(df['change'].mean(), grouping=True)}")
print(f"Greatest Increase in Profits: {df.loc[df['change'].idxmax(), 'Date']} {locale.currency(df['change'].max(), grouping=True)}")
print(f"Greatest Decrease in Profits: {df.loc[df['change'].idxmin(), 'Date']} {locale.currency(df['change'].min(), grouping=True)}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38,382,578.00
Average Change: -$2,315.12
Greatest Increase in Profits: 2012-02-01 00:00:00 $1,926,159.00
Greatest Decrease in Profits: 2013-09-01 00:00:00 -$2,196,167.00